.movieOption {
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 10px;
    background-color: #e9e9e9;
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all .3s ease;
    user-select: none;
    margin: auto;
    min-height: 365px;
}

.movieOption h3 {
    font-family: var(--text-font);
    text-align: center;
    margin: auto 0 auto 0;
    font-weight: 400;

    /*Elipsis de 2 lineas*/
    overflow: hidden;
    display: block;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
}

.movieOption img.poster {
    max-height: 300px;
}

.movieOption.liked {
    background-color: rgb(202 233 202);
}

.movieOption.disliked {
    background-color: rgb(233, 202, 202);
}

.movieOption .buttons-container {
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all .3s ease;
}

.movieOption:hover .buttons-container {
    opacity: 1;
}

.movieOption.liked .buttons-container,
.movieOption.disliked .buttons-container {
    animation: fadeOut .3s ease forwards;
}


.buttons-container .icon {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    transition: all .3s ease;
}

.buttons-container .icon:hover {
    transform: translateY(-5px);
}

.buttons-container .icon.like {
    background-image: url(../resources/icons/like.svg);
}

.buttons-container .icon.dislike {
    background-image: url(../resources/icons/dislike.svg);
}

@keyframes fadeOut {

    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}