#newMoviePage {
    width: 100%;
    height: 100%;
}


#newMoviePage .body-page {
    margin: 0 auto;
    width: 80%;
    font-family: var(--text-font);

}

#newMoviePage .body-page p.instruccions {
    margin: 0 auto;
    max-width: 80%;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 50px;
}



@media only screen and (max-width:990px) {
    #newMoviePage .body-page p.instruccions {
        max-width: 100%;
    }
}

@media only screen and (max-width:560px) {
    #newMoviePage .body-page p.instruccions {
        text-align: justify;
    }
}