.profileForm {
    --form-backgroud: var(--background-color);
    width: 70%;
    background-color: var(--form-backgroud);
    padding: 25px;
    margin: auto;
    font-size: 17px;
    box-sizing: border-box;

}

.profileForm form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    box-sizing: border-box;
    width: 100%;
    box-sizing: border-box;
}

.profileForm .inputContainer {
    position: relative;
    box-sizing: border-box;

}

.profileForm .inputContainer.inputBox input,
.profileForm .inputContainer.inputBox select {
    width: 100%;
    padding: 15px 10px 13px 10px;
    border: 1.5px #969696 solid;
    color: var(--gray-text-color);
    border-radius: 5px;
    font-size: inherit;
    position: relative;
    outline: none;
    background-color: var(--form-backgroud);
    font-family: var(--text-font);
    overflow: visible;
    box-sizing: border-box;
}

.profileForm .inputContainer input[type="number"] {
    max-width: 150px;
}

.profileForm .inputContainer>label {
    color: #2c2c2c;
    font-weight: bold;
    position: absolute;
    top: -13px;
    left: 10px;
    background-color: var(--form-backgroud);
    padding: 0 3px 0 3px;
    z-index: 1;
}

.profileForm .sexContainer {
    padding: 15px 10px;
}

.profileForm .radio-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    column-gap: 10px;
}

.profileForm .buttonContainer {
    grid-column: span 2;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

.profileForm .buttonContainer button {
    font-size: 20px;
    width: 40%;
    max-width: 400px;
    min-width: 100px;
}

.profileForm .title {
    white-space: nowrap;
    max-width: calc(100% - 20px);
    overflow: hidden;
    text-overflow: ellipsis;
}

.profileForm .error-message {
    font-size: 15px;
    color: var(--error-color);
    font-weight: bold;
    grid-column: span 2;
    margin: 0;
    text-align: justify;
}

.profileForm .spinner {
    color: #1E69E4;
    margin-top: 20px;
}


@media only screen and (max-width:1020px) {
    .profileForm .radio-container {
        grid-template-columns: repeat(1, max-content);
    }
}

@media only screen and (max-width:900px) {
    .profileForm {
        width: 85%;
    }
}

@media only screen and (max-width:750px) {
    .profileForm {
        width: 100%;
    }
}

@media only screen and (max-width:600px) {
    .profileForm form {
        grid-template-columns: 1fr;
    }

    .profileForm .nameContainer {
        grid-row: 1;
    }

    .profileForm .nationalityContainer {
        grid-row: 2;
    }

    .profileForm .languageContainer {
        grid-row: 3;
    }

    .profileForm .birthdayContainer {
        grid-row: 4;
    }

    .profileForm .sexContainer {
        grid-row: 5;
    }

    .profileForm .radio-container {
        grid-template-columns: repeat(2, max-content);
    }

}

@media only screen and (max-width:400px) {
    .profileForm .radio-container {
        grid-template-columns: repeat(1, max-content);
    }
}